body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #e6e4e4 !important;
  color: #000000 !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
}

:root {
  --primary-color: #e6e4e4;
  --secondary-color: #282c34;
  --tertiary-color: #61dafb;
  --quaternary-color: #000000;
}

.App {
  text-align: center;
}

nav a.nav-link {
  font-weight: 600;
  font-size: 1.2rem;
  padding: 0 1rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  letter-spacing: 0.05rem;
  cursor: pointer;
}

nav ul li {
  margin: 0 1.5rem;
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-left: 1rem;
  margin-right: 1rem;
  color: var(--primary-color) !important;

}

.navbar-brand {
  max-width: 13.25rem;
  padding: 0 !important;
  height: auto;
}

.logo {
  width: 13.25rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
